   <div style= float: left;><nav> <a href="/dogs/<%= @dog.id %>/edit" >Edit Profile</a>
   <a href="/">Home</a> </nav> 
   </div> 
<p>   
<h1><%= @dog.name %> is a  <%= @dog.temperament %> <%=@dog.breed%>.</h1>
<br>
  <h2 style="h2";><%=@dog.comments%> </h2>

<div>
<form method="post" action="/dogs/<%= @dog.id %>" style="display: inline-block;">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete"/>
</form>
<div>
        