   <div style= float: left;><nav> <a href="/dogs/<%= @dog.id %>/edit" >Edit Profile</a>
   <a href="/">Home</a> </nav> 
   </div> 
<h1><%= @dog.name %> is a  <%= @dog.temperament %> <%=@dog.breed%>.</h1>
  <h2><%=@dog.comments%> </h2>


        